.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: center;
  background: #f6f6f6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.job {
  position: relative;
  display: flex;
  background: #fff;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
  margin: 30px;
  width: 100%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s;
  border-radius: 25px;
  transform: translateY(-6px);
}

.job:hover {
  transform: scale(1.05);
  z-index: 100;
  background: #25bcff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 1.1;
}
